:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  min-height: 100vh;
  background-color: var(--light-grayish-blue);
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  width: 325px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(156, 156, 156, 0.1);
}
.drawers-image {
  width: 100%;
  object-fit: cover;
  object-position: 0 25%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}
.content h3 {
  margin: 40px 36px;
  line-height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 15px;
  color: var(--very-dark-grayish-blue);
}
.content-text {
  margin: 0 36px;
  color: var(--desaturated-dark-blue);
  line-height: 1.3rem;
  margin-bottom: 10px;
}
.contact {
  padding: 18px 36px;
  display: flex;
  align-items: center;
  height: 70px;
}
.main {
  display: flex;
  align-items: center;
}
.avatar {
  width: 38px;
  border-radius: 30px;
  margin-right: 20px;
}
.contact {
  position: relative;
}
.contact h4 {
  color: var(--very-dark-grayish-blue);
}
.contact p {
  color: var(--grayish-blue);
}
.details {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.second {
  display: flex;
  height: 65px;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 18px 40px;
  background-color: var(--very-dark-grayish-blue);
  width: 325px;
  border-radius: 0 0 10px 10px;
}
.second h4 {
  color: var(--grayish-blue);
  letter-spacing: 0.4rem;
}
.second svg {
  margin: 0 10px;
}
.share {
  margin-left: auto;
  background-color: var(--light-grayish-blue);
  padding: 6px 8px;
  border-radius: 20px;
  z-index: 1000;
}
.share-active {
  background-color: var(--desaturated-dark-blue);
}
.share-icon-active {
  fill: white;
  z-index: 99999;
}
.hidden {
  display: none;
}
@media (min-width: 950px) {
  .container {
    width: 730px;
    height: 280px;
    flex-direction: row;
  }
  .drawers-image {
    width: 285px;
    height: auto;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
  .content h3 {
    font-size: 1.25rem;
    line-height: 1.6rem;
  }
  .second {
    height: 60px;
    width: 250px;
    align-items: center;
    right: -72px;
    bottom: 80px;
    border-radius: 10px;
    box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.1);
  }
  .second:after {
    position: absolute;
    content: "";
    bottom: -35px;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: var(--very-dark-grayish-blue);
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: 20px;
  }
}
